#main {
  margin-top: 65px;
  display: flex;
  #asdie {
    width: 20%;
    min-height: 100vh;
    border-right: 1px solid var(--bg-dark-border);
    padding: 30px;

    button {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      padding: 10px;
      border-radius: 40px;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
        vertical-align: -1px;
      }
      &:hover {
        background: orange;
      }
    }
  }
  #contents {
    width: 80%;
    padding: 30px;

    h2 {
      margin-bottom: 10px;

      em {
        background: red;
      }
    }
  }
}

.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 24%;
    margin-bottom: 1%;
    height: 400px;
    background: rgb(251, 121, 121);
  }
}
